// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
  .admin-category-index {
div.Categories {
  table {
      th.delete-btn {
        width: 5%;
        td {
          width: 7%;
        }
      }
    }
  }
}
}
